version: '3'

services:
  app:
    container_name: loomio-app
    image: ${LOOMIO_CONTAINER_IMAGE}:${LOOMIO_CONTAINER_TAG}
    restart: unless-stopped
    expose:
      - 3000
    env_file: ./env
    environment:
      - DATABASE_URL=postgresql://postgres:password@db/loomio_production
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./uploads:/loomio/public/system
      - ./storage:/loomio/storage
      - ./files:/loomio/public/files
      - ./plugins:/loomio/plugins/docker
      - ./import:/import
    networks:
      - main
    depends_on:
      - db
      - redis

  worker:
    container_name: loomio-worker
    image: ${LOOMIO_CONTAINER_IMAGE}:${LOOMIO_CONTAINER_TAG}
    restart: always
    networks:
      - main
    env_file: ./env
    environment:
      - DATABASE_URL=postgresql://postgres:password@db/loomio_production
      - REDIS_URL=redis://redis:6379
      - TASK=worker
    volumes:
      - ./uploads:/loomio/public/system
      - ./storage:/loomio/storage
      - ./files:/loomio/public/files
      - ./plugins:/loomio/plugins/docker

  db:
    container_name: loomio-db
    image: postgres:${POSTGRES_CONTAINER_TAG}
    restart: unless-stopped
    networks:
      - main
    volumes:
      - ./pgdata:/pgdata
      - ./pgdumps:/pgdumps
    environment:
     - POSTGRES_PASSWORD=password
     - POSTGRES_DB=loomio_production
     - PGDATA=/pgdata

  redis:
    container_name: loomio-redis
    image: redis:5.0
    restart: unless-stopped
    networks:
      - main

  mailin:
    container_name: loomio-mailin
    image: ${MAILIN_CONTAINER_IMAGE}:${MAILIN_CONTAINER_TAG}
    restart: unless-stopped
    networks:
      - main
    ports:
      - "25:25"
    environment:
      - WEBHOOK_URL=http://app:3000/email_processor/

  channels:
    container_name: loomio-channels
    image: loomio/loomio_channel_server
    restart: unless-stopped
    networks:
      - main
    env_file: ./channels_env
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379

networks:
  main:
